/* options.css */
/* Light mode styles (default) */
body {
  background-color: #f5f5f5;
  color: #333;
  padding: 2px;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

label {
  display: block;
  margin-bottom: 10px;
}

hr {
  color: grey;
  opacity: 0.2;
  width: 100%;
}

#footer-buttons{
  padding: 6px;
  margin-top: 8px;
}
#footer-buttons img {
  vertical-align: bottom;
}
#footer-buttons button{
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body.auto {
    background-color: #333;
    color: #f5f5f5;
  }
}